* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GraphikLight';
    background-color: #ffffff;
}

a {
    text-decoration: none; 
    color: inherit
}

li {
    list-style: none;
}

@font-face {
    font-family: 'GraphikLight';
    src: url('../font/GraphikBlack/GraphikLight.otf') format('opentype');
}

@font-face {
    font-family: 'GraphikBlack';
    src: url('../font/GraphikBlack/GraphikBlack.otf') format('opentype');
}

.navbar {
    font-family: 'GraphikLight';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2D27!important;
    color: #6F7974;
}

.nav-links a {
    font-family: 'GraphikLight';
    font-size: 17px;
    color: #6F7974;
    text-decoration: none;
}

.nomeproj {
    font-family: 'GraphikLight';
    font-size: 27px;
    color: #51B68E;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;

}

.menu li:hover {
    border-radius: 5px;
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}

.menu li {
    padding: 5px 14px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.menu li:last-child a {
    color: #49E295;

}

.services {
    position: relative;
}

.dropdown {

    display: none;

}

.dropdown li {
    margin-top: 10px;
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {

    background-color: #6F7974;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.responsivo {
    display: none;
    font-size: 24px;
    user-select: none;
}


.conteudo {
    color: #6f7974;
    font-family: 'GraphikLight';
    width: 760px;
    margin: auto;
    font-size: 20px;
    letter-spacing: 0, 5px;
    line-height: 28px;
    text-align: justify;
}

.conteudo h1 {
    color: #6f7974;
    font-family: 'GraphikBlack';
    font-size: 52px;
    font-weight: 100;
    margin-top: 75px;
    line-height: 55px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    text-align: center;
}

.conteudo h2 {
    color: #6f7974;
    font-family: 'GraphikLight';
    width: 760px;
    font-weight: 100;
    margin-top: 40px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    font-size: 20px;
    letter-spacing: 0, 5px;
    line-height: 28px;
    font-weight: bold;
}

.analise {
    color: #6f7974;
    font-family: 'GraphikLight';
    width: 760px;
    margin: auto;
    font-size: 20px;
    letter-spacing: 0, 5px;
    line-height: 28px;
    text-align: justify;
}
	
.analise h2 {
    color: #6f7974;
    font-family: 'GraphikBlack';
    font-size: 32px;
    font-weight: 100;
    margin-top: 75px;
    line-height: 55px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    text-align: center;
}

	
.analise form {
    display: flex;
    align-items: center;
    color: #1a6e44;
    font-family: 'GraphikBlack';
    font-size: 32px;
    font-weight: 100;
    margin-top: 75px;
    line-height: 55px;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    text-align: center;
}

.topicos {
    font-family: 'GraphikLight';
    margin-top: 40px;
    color: #51B68E;
    margin-left: 45px;
    font-size: 20px;
    font-weight: bold;
}

.sub_titulo {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.conteudo p {
    margin-top: 40px;
}

#cadastro{
    display: block;
    text-align: center;
    padding: 75px;  
    background-color: #1F2D27;
    border-radius: 20px;
    display: block;
    margin-top: 100px;
}
#login{
    background-color: #1F2D27;
    border-radius: 20px;
    display: block;
    margin-top: 80px;
    text-align: center;
    padding: 75px;
}
#historico{
    display: block;
    margin-top: 30px;
    text-align: justify;
    padding: 75px;
}
#login input{
    margin-top: 25px;
    max-width: 800px;
    font-size: 19px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}
#form{
    height: 30px;
    width: 200px;
    font-size: 80%;
    border-radius: 20px;
    text-align: center;
}

.form{
    height: 30px;
    width: 200px;
    font-size: 80%;
    border-radius: 20px;
    text-align: center;
}
 
.number_input{
    height: 35px;
    width: 180px;
    font-size: 100%;
    border-radius: 20px;
    text-align: center;
}
    
    #form_date{
        margin-top: 10px;
        height: 35px;
        border-radius: 20px;
        
    }
input{
    text-align: center;
}

#form_h1 {
    font-size: 180%;
}

#submit{
    background-color: #49E295;
    border-style: outset;
    color: #6f7974;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    font-size: 80%;
    transition: all 0.5s;
    cursor: pointer;
}

#submit:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}
#redefinir{
    z-index: 5;
    background-color: #49E295 !important;
    border-style: outset;
    color: #6f7974;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    font-size: 80%;
    transition: all 0.5s;
    cursor: pointer;
}
#redefinir:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}
.button{
    background-color: #49E295;
    border-style: outset;
    color: #6f7974;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    font-size: 80%;
    transition: all 0.5s;
    cursor: pointer;
}

#edufin {
    max-width: 400px;
    max-height: 350px;
    margin-top: 40px;
    align-items: center;
    margin-left: 180px;
    transition: all 0.5s;
    cursor: pointer;
}
button:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}
#edufin:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}

#pilares {
    max-width: 400px;
    max-height: 350px;
    margin-top: 40px;
    align-items: center;
    margin-left: 180px;
    transition: all 0.5s;
    cursor: pointer;
}

#pilares:hover {
    -webkit-transform: scale(0.5);
    transform: scale(1.1);
}

#link {
    color: #49E295;
}

#analise_article {
    color: #49E295;
}

footer {
    margin-top: 50px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #1F2D27;
    padding: 30px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #1F2D27;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li {
        margin-top: 12px;
    }

    .menu li:hover {
        display: inline-block;
        -webkit-transform: scale(0.5);
        transform: scale(1.1);
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .responsivo {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .conteudo {
        color: #6f7974;
        font-family: 'GraphikLight';
        width: auto;
        margin: auto;
        font-size: 15px;
        letter-spacing: 0, 5px;
        line-height: 28px;
        text-align: justify;
    }

    .conteudo h1 {
        color: #6f7974;
        font-family: 'GraphikBlack';
        font-weight: 100;
        margin-top: 75px;
        line-height: 55px;
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        float: none;
        display: block;
        clear: none;
        z-index: auto;
        text-align: center;
        font-size: 32px;

    }

    .conteudo h2 {
        color: #6f7974;
        font-family: 'GraphikLight';
        width: 760px;
        font-weight: 100;
        margin-top: 40px;
        position: static;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        float: none;
        display: block;
        clear: none;
        z-index: auto;
        font-size: 15px;
        letter-spacing: 0, 5px;
        line-height: 28px;
        font-weight: bold;
    }

    .topicos {
        font-family: 'GraphikLight';
        margin-top: 40px;
        color: #51B68E;
        margin-left: 45px;
        font-size: 10px;
        font-weight: bold;

    }

    .sub_titulo {
        font-size: 24px;
        text-align: center;
        font-weight: bold;
    }

    .conteudo p {
        margin-top: 40px;
    }

    img {
        max-width: 300px;
        width: 100%;
        max-height: 250px;
        height: 100%;
        margin-top: 40px;
        align-items: center;
    }

    #pilares {
        max-width: 400px;
        max-height: 350px;
        margin-top: 40px;
        align-items: center;
        margin-left: 180px;
        transition: all 0.5s;
        cursor: pointer;
    }

    #pilares:hover {
        -webkit-transform: scale(0.5);
        transform: scale(1.1);
    }
    #cadastro{
        background-color: #1F2D27;
        border-radius: 20px;
        display: block;
        margin-top: 80px;
        text-align: center;
        padding: 75px;
    }
    #login{
        background-color: #1F2D27;
        border-radius: 20px;
        display: block;
        margin-top: 80px;
        text-align: center;
        padding: 75px;
    }
	#link {
    color: #49E295;
}
    footer {
        margin-top: 50px;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: #1F2D27;
        padding: 20px;
    }
}

@media (max-width: 668px) {
    #edufin {
        max-width: 200px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        margin-top: 40px;
        align-items: center;
    }

    #pilares {
        max-width: 200px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        margin-top: 40px;
        align-items: center;
        margin-left: 180px;
        transition: all 0.5s;
        cursor: pointer;
    }

    #pilares:hover {
        -webkit-transform: scale(0.5);
        transform: scale(1.1);
    }

    .topicos {
        font-family: 'GraphikLight';
        margin-top: 40px;
        color: #51B68E;
        margin-left: 45px;
        font-size: 15px;
        font-weight: bold;

    }

    footer {
        margin-top: 50px;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: #1F2D27;
        padding: 10px;
    }
}

#bancoa{
    margin: 75px 0px 0px 0px;
}

.conteudo table{
    background-color: #49e295a4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
}

.conteudo th{
    padding: 0px 30px;
    padding-bottom: 10px;
}


.divisao{
    margin: 50px 300px;
}

.grupo{
    border: 0;
}

#opbancos, #exp, .botao{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    font-family: 'GraphikLight';
    color: #51B68E;
    display: block;
    position: static;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    float: none;
    display: block;
    clear: none;
    z-index: auto;
    text-align: center;
}

fieldset.grupo .campo{
    margin-right: 1em;
}

.campo select, .campo textarea{
    font-family: 'GraphikLight';
    padding: 0.2em;
    border: 1px solid #51B68E;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo select option{
    padding-right: 1em;
}

.botao {
    font-size: 1.2em;
    font-family: 'GraphikLight';
    background: #49E295;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao:hover {
    background: #51B68E;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #51B68E;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    margin: 20px auto;
}

.logo{
    width: 100px;
    margin-left: 10px;
}

table select{
    font-family: 'GraphikLight';
    padding: 0.2em;
    border: 1px solid #51B68E;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
    height: 30px;
}

table input{
    font-family: 'GraphikLight';
    padding: 0.2em;
    border: 1px solid #51B68E;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
    height: 30px;
}

table span{
    float: left;
}

#parcelas{
    width: 70%;
}

.valor input{
    width: 80%;
}

.avatar{
    width: 150px;
}

.conteudo h3{
    margin-top: 20px;
    font-size: large;
}

#linkcadastro{
    color: #49E295;
}

#excluirconta{
    color: #49E295;
}

#analise {
    display: block;
    text-align: center;
    padding: 75px;
    background-color: #1F2D27;
    border-radius: 20px;
    display: block;
    margin-top: 100px;
    
}

#analise input {
    margin-top: 25px;
    max-width: 800px;
    font-size: 19px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

#analise select {
    margin-top: 25px;
    max-width: 800px;
    font-size: 19px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
}

#analise button {
    background-color: #49E295;
    border-style: outset;
    color: #6f7974 !important;
    border-radius: 30px;
    height: 40px;
    width: 120px;
    font-size: 80%;
    transition: all 0.5s;
    cursor: pointer;
}
